{% extends "base.jinja" %}

{% block content %}
    <h2 style="color:red; text-align:center">Let's Collect Your Superhero</h2>

<div style="text-align: center;">
    <form method="post" novalidate style="border: solid red 10px; display:flex; flex-direction:column; padding:10px; background-color:azure">
    {{ form.hidden_tag()}}
    <p style="color: red;">
        {{form.name(size=32)}}<br>
        {{form.name.label}}
  
    <p style="color: red;">
        {{form.description(size=32)}}<br>
        {{form.description.label}}
    </p>
  
    <p style="color: red;">
        {{form.comics(size=32)}}<br>
        {{form.comics.label}}
    </p>
  
    <p style="color: red;">
        {{form.superpower(size=32)}}<br>
        {{form.superpower.label}}
    </p>
  
    <p>{{form.submit()}}</p>
    </form>
</div>
  <style>
    .slideshow-container {
      max-width: auto;
      position: relative;
      margin: auto;
    }
    .mySlides {
      display: none;
    }
    .slideshow-container img {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <div class="slideshow-container">
    <div class="mySlides">
      <img src="https://cdn.marvel.com/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg">
    </div>
    <div class="mySlides">
      <img src="https://cdn.europosters.eu/image/hp/47626.jpg">
    </div>
    <div class="mySlides">
      <img src="https://images.thedirect.com/media/article_full/avengers-endgame-marvel_MHrI22M.jpg">
    </div>
  </div>
  <script>
    var slideIndex = 0;
    showSlides();

    function showSlides() {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 2000);
    }
  </script>

{% endblock content %}